#root {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-areas: 'sidebar detail';
    height: 100%;
}

#detail {
    grid-area: detail;
    background-color: rgba(40, 44, 48, 0.5);
}

#detail > div {
    max-width: 1300px;
}

#sidebar {
    grid-area: sidebar;
    position: fixed;
    top: 0;
    height: 100vh;
    width: 200px;
}

#sidebar-toggle:hover {
    cursor: pointer;
}

#sidebar-toggle {
    top: 40px;
    left: 199px;
    z-index: 100;
    padding: 12px;
}

@media all and (max-width: 767px) {
    #root {
        display: initial;
    }

    #detail {
        position: absolute;
        top: 0;
        width: 100%;
    }

    #sidebar {
        transition: margin .7s ease;
        margin-left: -200px;
        z-index: 1;
    }

    #sidebar.open {
        margin-left: 0 !important;
    }

    
}