#root {
    height: 100%;
    display: flex;
}

#sidebar {
    width: 175px;
    transition: margin .7s ease;
}
#sidebar-toggle {
    display: none;
    margin-top: -7px;
}
#sidebar-toggle:hover {
    cursor: pointer;
}
@media all and (max-width: 550px) {
    #sidebar {
        margin-left: -175px;
        position: absolute;
        height: 100%;
        z-index: 1;
    }
    #sidebar.open {
        margin-left: 0 !important;
    }
    #sidebar-toggle {
        left: 175px;
        display: flex;
    }
}