.todo-item:nth-of-type(2n) {
    background-color: white;
}

.todo-item:nth-of-type(2n - 1) {
    background-color: #f2f2f2;
}

@media all and (min-width: 767px) {
    .todo-modal {
        margin-left: 250px;
        width: calc(100% - 250px);
    }
}