/* yellow rgb(255, 255, 102) */
/* teal rgb(66, 255, 255) */
/* green rgb(81, 218, 76) */
/* orange rgb(255, 110, 60) */
/* purple rgb(60, 70, 255) */

html, body {
    height: 100%;
}

.bg-yellow, .section-1 {
    background-color: rgba(255, 255, 102, .06);
}
.bg-teal, .section-2 {
    background-color: rgba(66, 255, 255, .06);
}
.bg-green, .section-3 {
    background-color: rgba(81, 218, 76, .06);
}
.bg-orange, .section-4 {
    background-color: rgba(255, 110, 60, .06);
}
.bg-purple, .section-5 {
    background-color: rgba(60, 70, 255, .06);
}