/* yellow rgb(255, 255, 102) */
/* teal rgb(66, 255, 255) */
/* green rgb(81, 218, 76) */
/* orange rgb(255, 110, 60) */
/* purple rgb(60, 70, 255) */

html, body {
    height: 100%;
}

.button-hover:hover {
    box-shadow: none;
    margin: 1px 0 0 !important;
}

.button-hover {
    box-shadow: 0 2px 5px -3px black;
    margin: 0 0 1px !important;
    transition: all .1s linear;
}

.shadow-dark {
    box-shadow: 1px 1px 5px -1px #999;
}

.bg-yellow {
    background-color: rgba(255, 255, 102, .06);
}
.bg-teal {
    background-color: rgba(66, 255, 255, .06);
}
.bg-green {
    background-color: rgba(81, 218, 76, .06);
}
.bg-orange {
    background-color: rgba(255, 110, 60, .06);
}
.bg-purple {
    background-color: rgba(60, 70, 255, .06);
}

.bg-yellow-dark {
    background-color: rgb(255, 255, 102) !important;
}
.bg-teal-dark {
    background-color: rgb(66, 255, 255) !important;
}
.bg-green-dark {
    background-color: rgb(81, 218, 76) !important;
}
.bg-orange-dark {
    background-color: rgb(255, 110, 60) !important;
}
.bg-purple-dark {
    background-color: rgb(60, 70, 255) !important;
}

.section {
    width: 100%;
}
.section:nth-child(1) {
    background-color: rgba(255, 255, 102, .06);
}
.section:nth-child(2) {
    background-color: rgba(66, 255, 255, .06);
}
.section:nth-child(3) {
    background-color: rgba(81, 218, 76, .06);
}
.section:nth-child(4) {
    background-color: rgba(255, 110, 60, .06);
}
.section:nth-child(5) {
    background-color: rgba(60, 70, 255, .06);
}

.stretch {
    margin-left: -16.63%;
    margin-right: -16.67%;
    width: 133.3% !important;
}